/*
Name: Riddhi Meet Savsani
Student Number: 0862829
Date: 2024-07-14
Purpose: To write CSS styles for the About me page.

======================================================

Color Guide:

1. html background: White
2. body background: aliceblue, Border: Black
3. header background: #c8d6f1 (light blue)
4. a color: Black
5. article:nth-of-type(2) background: White and border: gray
6. article:nth-of-type(2) > section > ul > li > span background-color: #f9f9f9 (Greyish White)
7. article:nth-of-type(3) background:  rgb(221, 235, 241) (Pale Blue)
8. footer background #c8d6f1 (light blue)
9. @media screen and (max-width: 600px) Header background-color: Transparent


======================================================

Table of Contents:

1. Define custom font face
2. HTML and BODY styles
3. header styles
4. main styles
5. article:first-of-type styles 
6. article:nth-of-type(2) styles 
7. article:nth-of-type(3) styles 
8. article:last-of-type styles 
9. footer styles
10. Media query for screens with a maximum width of 900px
11. Media query for screens with a maximum width of 600px
12. Media query for screens with a maximum width of 500px

======================================================
*/

/* 1. Define custom font face */
@font-face {
  font-family: "MyCustomFont";
  src: url("../fonts/Font3.ttf") format("truetype");
}

/* 2. HTML and BODY styles */
html {
  width: 100%;
  background-color: white;
}

body {
  max-width: 1200px;
  border: 1px solid black;
  margin: auto;
  box-sizing: border-box;
  background-color: aliceblue;
}

/* 3. header styles */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.5em;
  background-color: #c8d6f1; /* Light blue */
}

header > a > img {
  width: 5em;
  height: 5em;
}

li > a > img {
  width: 3em;
  height: 3em;
}

nav {
  width: 50%;
}

ul {
  display: flex;
  justify-content: right;
  align-items: center;
}

ul > li {
  display: block;
  width: 33.333%;
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}
ul > li > a {
  display: block;
  text-align: center;
}

/* 4. main styles */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main > section > nav {
  width: 100%;
  margin: 1em 0 1em 0;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
}

/* 5. article:first-of-type styles */

article:first-of-type > section > div > img {
  width: 4em;
}
article > h2 {
  width: 100%;
  line-height: 1em;
  font-size: 2em;
  padding: 1em;
  box-sizing: border-box;
  border-top: 1px solid black;
  font-family: MyCustomFont;
}
article:first-of-type section div {
  margin-bottom: 1em;
}
article:first-of-type section div img {
  width: 45%;
}
article:first-of-type > section + section {
  width: 40%;
}
article:first-of-type > section {
  width: 10%;
}

article:first-of-type > section:first-of-type > div {
  position: relative;
  display: inline-block;
  margin-top: 0;
}

article:first-of-type > section:first-of-type > div > p {
  display: none;
  position: absolute;
  bottom: 2em;
  left: 4em;
}

article:first-of-type > section:first-of-type > div > img:hover + p {
  display: block;
}

article:first-of-type > section + section > h3 {
  margin-top: 2em;
  font-size: 1.5em;
}

article:first-of-type > section + section > p {
  margin-top: 1em;
  font-size: 1em;
}
/* 6. article:nth-of-type(2) styles*/
article:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

article:nth-of-type(2) > img {
  width: 30%;
}

article:nth-of-type(2) > section {
  width: 50%;
  align-items: center;
}

article:nth-of-type(2) > section > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 90%;
  margin: auto;
}

article:nth-of-type(2) > section > ul > li {
  display: block;
  width: 90%;
  margin: auto;
  position: relative;
  margin-bottom: 1em;
}

article:nth-of-type(2) > section > ul > li > span {
  display: block;
  padding: 0.5em;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  width: 100%;
  text-align: center;
}

article:nth-of-type(2) > section > ul > li > ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: white;
  border: 1px solid gray;
  z-index: 1;
}

article:nth-of-type(2) > section > ul > li > ul > li {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
  display: block;
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 1em;
}

article:nth-of-type(2) > section > ul > li:hover > ul {
  display: block;
}

article:nth-of-type(2) > section > ul > li > ul > li:last-child {
  border-bottom: none;
}

/*7. article:nth-of-type(3) styles */

article:nth-of-type(3) section {
  width: 40%;
  margin-left: 6%;
  margin-bottom: 1em;
}

article:nth-of-type(3) > img {
  width: 40%;
  height: 40%;
  margin-left: 0;
}

article:nth-of-type(3) section label {
  display: block;
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: bold;
}
article:nth-of-type(3) > section > div {
  position: relative;
  width: 100%;
}

article:nth-of-type(3) > section > div > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: none;
}

article:nth-of-type(3) > section > div > ul > li {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 1.3em;
  background-color: rgb(221, 235, 241); /* Pale Blue */
  line-height: 1.5em;
  padding: 0.5em;
  border-bottom: 0.5px dotted black;
}

article:nth-of-type(3) > section > label:hover + div > ul {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-left: 4%;
  text-align: left;
  line-height: 1.5em;
  font-size: 0.8em;
}

/*8. article:last-of-type styles */
article:last-of-type section img {
  width: 60%;
}
article:last-of-type p {
  line-height: 1em;
  margin: 1em;
}
article:last-of-type section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

article:last-of-type section {
  text-align: center;
}
article:last-of-type section div {
  display: flex;
  width: 100%;
}
article:last-of-type > section > div > label {
  display: block;
  text-decoration: underline;
  width: 20%;
  margin: auto;
  line-height: 3em;
}

article:last-of-type section img {
  display: none;
}

article:last-of-type section input[type="radio"] {
  display: none;
}

article:last-of-type section input[type="radio"]:checked + img {
  display: block;
  bottom: 100%;
}

/* 9. footer styles */
footer {
  line-height: 3em;
  text-align: center;
  background-color: #c8d6f1; /* Light blue */
}

/*10. Media query for screens with a maximum width of 900px*/

@media screen and (max-width: 900px) {
  article:first-of-type {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
  }
  article:first-of-type h2 {
    text-align: center;
    font-size: 1.5em;
  }
  article:first-of-type picture {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
  article:first-of-type picture img {
    display: block;
    width: 60%;
    max-width: 100%;
    margin: auto;
  }

  article:first-of-type > section:first-of-type {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  article:first-of-type > section:first-of-type > div > img {
    width: 5em;
    margin-top: 1em;
  }
  article:first-of-type > section:first-of-type > div > img:hover + p {
    top: 7em;
    left: 0;
  }

  article:first-of-type > section:nth-of-type(2) {
    width: 50%;
    max-width: 100%;
    margin: auto;
    margin-top: 0;
  }
  article:first-of-type > section:nth-of-type(2) p:last-of-type {
    margin-bottom: 1.5em;
  }
  article:first-of-type > section > div > img {
    max-width: 100%;
  }
}

/* 11. Media query for screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
  header {
    background-color: transparent;
    width: 100%;
    align-items: flex-start;
    padding: 0.5em;
  }

  header nav {
    width: 90%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  header nav ul {
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
  }

  header nav ul > li {
    width: 100%;
    margin: 2px 0;
    box-sizing: padding-box;
    background-color: #c8d6f1;
  }
  article:first-of-type > section:first-of-type > div > img {
    width: 3em;
    margin-top: 1em;
  }
  article:first-of-type > section:first-of-type > div > img:hover + p {
    margin-top: -2em;
  }

  section nav ul li {
    display: block;
    line-height: 2.5em;
    font-size: 1em;
  }

  article:first-of-type > section:nth-of-type(2) {
    width: 80%;
    max-width: 100%;
    margin: auto;
  }
}
/* 12. Media query for screens with a maximum width of 500px */
@media screen and (max-width: 500px) {
  article:first-of-type > section:first-of-type > div > img {
    width: 2em;
    margin-top: 1em;
  }
  article:first-of-type > section:first-of-type > div > img:hover + p {
    margin-top: -3em;
  }
  article:nth-of-type(2),
  article:nth-of-type(3) {
    flex-direction: column;
  }
  article:nth-of-type(2) > section:first-of-type {
    width: 100%;
  }

  article:nth-of-type(3) > img {
    width: 80%;
    max-width: 100%;
    margin: auto;
  }
  article:nth-of-type(3) section {
    width: 90%;
    max-width: 100%;
    order: 1;
  }
  article:nth-of-type(3) > section > label:hover + div > ul {
    margin-left: 0;
  }
  article:last-of-type > section > div {
    flex-wrap: wrap;
  }
  article:last-of-type > section > div > label {
    width: 50%;
  }
}
