/*
Name: Riddhi Meet Savsani
Student Number: 0862829
Date: 2024-07-14
Purpose: To write CSS styles for the portfolio connect-form page.

======================================================

Color Guide:

1. html background: white
2. header background: #c8d6f1 (Light blue)
3. a color: black
4. h1, color: #384b70 (dark Blue)
5. article > picture background-color: #c8d6f1 (Light blue)
6. form background-color: #c8d6f1 (Light blue)
7. footer background: #c8d6f1 (Light blue)
8. header background (max-width 800px): transparent
9. ul > li background color: #c8d6f1 (Light blue)
======================================================

Table of Contents:

1. Define custom font face
2. HTML and BODY styles
3. header styles
4. main styles
5. form styles
6. aside styles
7. footer styles
8. Media queries for responsive design

======================================================
*/

/* 1. Define custom font face */
@font-face {
  font-family: "MyCustomFont";
  src: url("../fonts/Font3.ttf") format("truetype");
}

/* 2. HTML and BODY styles */
html {
  width: 100%;
  background-color: white; /* White */
}

body {
  max-width: 1200px;
  margin: auto;
  border: 1px solid black;
  box-sizing: border-box;
}

/* 3. header styles */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.5em;
  background-color: #c8d6f1; /* Light blue */
}

header > a > img {
  width: 5em;
  height: 5em;
}

a > img {
  width: 3em;
  height: 3em;
}

nav {
  width: 50%;
}

ul {
  display: flex;
  justify-content: right;
  align-items: center;
}

ul > li {
  display: block;
  width: 33.333%;
  text-align: right;
  font-size: 1.1em;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

ul > li > a {
  display: block;
  text-align: center;
  max-width: 100%;
}

/* 4. main styles */
main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-image: url("../images/backgroungHome1.jpg");
}

h1 {
  width: 100%;
  font-size: 2em;
  line-height: 3em;
  text-align: center;
  font-weight: bold;
  color: #384b70;
  font-family: MyCustomFont;
}

article {
  display: flex;
  width: 60%;
  margin-left: 6em;
  justify-content: center;
}

article > picture {
  width: 40%;
  border: 1px solid black;
  background-color: #dbe6f2;
}

picture > img {
  display: block;
  max-width: 100%;
}

/* 5. form styles */
article > form {
  margin-top: 2em;
  margin-left: -2em;
  margin-bottom: 3em;
  max-width: 30%;
  padding: 2em;
}

form {
  border: 1px solid black;
  background-color: #c8d6f1;
}

form > div {
  max-width: 100%;
  margin: auto;
  margin-top: 1em;
}

div > label {
  display: block;
  max-width: 100%;
  margin-bottom: 0.4em;
  font-weight: bold;
  font-size: 1.2em;
}

div > input {
  max-width: 100%;
}

div > textarea {
  max-width: 100%;
}

form > button {
  width: 100%;
  margin: auto;
  margin-top: 4em;
}

/* 6. aside styles */
aside {
  width: 25%;
}

aside > p {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 4em;
  font-family: monospace;
  font-weight: bold;
}

aside > a {
  display: block;
  margin-top: 4em;
  margin-bottom: 1em;
  text-align: center;
}

/* 7. footer styles */
footer {
  line-height: 3em;
  text-align: center;
  background-color: #c8d6f1;
}

/* 8. Media queries for responsive design */
@media screen and (max-width: 800px) {
  body {
    background-image: url("../images/backgroungHome.jpg");
  }

  main {
    background-image: none;
  }

  header {
    background-color: transparent;
    width: 100%;
    align-items: flex-start;
    padding: 0.5em;
  }

  nav {
    width: 90%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  ul {
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
  }

  ul > li {
    width: 100%;
    margin: 2px 0;
    box-sizing: padding-box;
    background-color: #c8d6f1;
  }

  ul > li > a {
    display: block;
    text-align: center;
  }

  article {
    width: 95%;
    max-width: 100%;
    margin: auto;
    flex-direction: column;
    order: 1;
  }

  aside {
    width: 95%;
    max-width: 100%;
    margin: auto;
  }

  aside > p {
    margin-top: 1em;
  }

  article > picture {
    width: 95%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 1em;
  }

  picture > img {
    display: block;
    line-height: 3em;
    max-width: 45%;
    margin: auto;
    margin-top: -0.7em;
  }

  article > form {
    max-width: 40%;
    margin: auto;
    margin-top: -1em;
    margin-bottom: 6em;
  }

  aside > a {
    margin: auto;
    position: absolute;
    top: 57rem;
    left: 45%;
  }
}

@media screen and (max-width: 540px) {
  aside > a {
    margin: auto;
    position: absolute;
    top: 55rem;
    left: 45%;
  }
}

@media screen and (max-width: 445px) {
  aside > a {
    margin: auto;
    position: absolute;
    top: 56rem;
    left: 45%;
  }
}

@media screen and (max-width: 375px) {
  aside > a {
    margin: auto;
    position: absolute;
    top: 58rem;
    left: 45%;
  }
}

@media screen and (max-width: 285px) {
  picture > img {
    display: hidden;
  }

  aside > a {
    margin: auto;
    position: absolute;
    top: 65rem;
    left: 45%;
  }
}

@media screen and (max-width: 255px) {
  aside > a {
    margin: auto;
    position: absolute;
    top: 67rem;
    left: 45%;
  }
}
