/*
Name: Riddhi Meet Savsani
Student Number: 0862829
Date: 2024-07-14
Purpose: To write CSS styles for the portfolio home page.

======================================================

Color Guide:

1. html background: white
2. header background: #c8d6f1 (Light blue)
3. a color: Black
4. h1, article > p, aside > p color: #384b70 (dark Blue)
5. article > p background-color: #e6e9ef (solitude)
6. aside > p background-color: white
7. p > a background-color: bisque
8. footer background:#c8d6f1 (Light blue)
9. header background (max-width 600px): transparent
10. ul > li background-color: #c8d6f1 (Light blue)
======================================================

Table of Contents:

1. Define custom font face
2. HTML and BODY styles
3. header styles
4. main styles
5. footer styles
6. Media query for screens with a maximum width of 880px
7. Media query for screens with a maximum width of 600px

======================================================
*/

/* 1. Define custom font face */
@font-face {
  font-family: "MyCustomFont";
  src: url("../fonts/Font3.ttf") format("truetype");
}

/* 2. HTML and BODY styles */
html {
  width: 100%;
  background-color: white; /* White */
}

body {
width:80%;
  max-width: 80%;
  border: 1px solid black;
  margin: auto;
}

/* 3. header styles */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.5em;
  background-color: #c8d6f1; /* Light blue */
}

header > a > img {
  width: 5em;
  height: 5em;
}

li > a > img {
  width: 3em;
  height: 3em;
}

nav {
  width: 50%;
}

ul {
  display: flex;
  justify-content: right;
  align-items: center;
}

ul > li {
  display: block;
  width: 33.333%;
  max-width: 100%;
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

ul > li > a {
  display: block;
  text-align: center;
  max-width: 100%;
}

/* 4. main styles */
main {
  background-image: url("../images/backgroungHome1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2em;
  line-height: 3em;
  text-align: center;
  font-weight: bold;
  color: #384b70;
  font-family: MyCustomFont, sans-serif;
}

main > article {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin: auto;
}

article > img {
  width: 25%;
  margin: 2em;
}

article > p {
  width: 75%;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: bold;
  color: #384b70;
  background-color: #e6e9ef;
  font-family: MyCustomFont;
  margin-top: 2.5em;
}

main > aside {
  padding: 8%;
}

aside > p {
  padding: 0.5em;
  background-color: #384b70;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

p > a {
  background-color: bisque;
}

/* 5. footer styles */
footer {
  line-height: 3em;
  text-align: center;
  background-color: #c8d6f1;
}

/* 6. Media query for screens with a maximum width of 880px */
@media screen and (max-width: 880px) {
  main > article {
    flex-direction: column;
  }

  article > img {
    width: 60%;
    max-width: 100%;
  }

  article > p {
    width: 100%;
    max-width: 100%;
  }
}

/* 7. Media query for screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
  body {
    background-image: url("../images/backgroungHome.jpg");
  }

  main {
    background-image: none;
  }

  header {
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    align-items: flex-start;
    padding: 0.5em;
  }

  nav {
    width: 90%;
    max-width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  ul {
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    max-width: 100%;
  }

  ul > li {
    width: 100%;
    max-width: 100%;
    margin: 2px 0;
    box-sizing: padding-box;
    background-color: #c8d6f1;
  }
}
