
form{
  padding: 4em ;
  /*background-color: #c2cad6;*/

}
/* Keep the form's height proportional to the image */
/* Match the height of the form to the image dynamically */
#contactFormContainer {
  height: 100%; /* Initial height */
  margin-left: -40px; /* Negative margin to overlap */

}

.custom-btn{
  background-color: #4f5d73;
  color: white;
}

.custom-btn:hover{
  color: black;
  background-color:  #d1d7e0;
}


/* Ensure form stays proportional on larger screens */
@media (max-width: 992px) {
  #contactFormContainer {
    height: calc(100% - 150px);
    width: 90%;
    margin: auto;/* Keep proportional scaling */
    margin-top: -40px;

  }

}

/* Ensure image takes full width on smaller screens */
#formImage {
  width: 100%;
  height: auto;
}
