
/* Make header background gradient and apply shadow */
.gradient-navbar {
  background: #d1d7e0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 105px;
}

/* Center the list items vertically in the navbar */
.d-none.d-lg-flex .nav {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Style individual list items */
.nav-item {
  margin: 0 15px;
}

.navbar-toggler-icon {
  background-size: 50px;
}

/* Offcanvas container */
.offcanvas {
  height:17.5em;
  width: 12em;

}

/* Optional: If you need padding adjustment */
.offcanvas-body {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}


/* Center the list items in the offcanvas */
.offcanvas-body ul {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
}

/* Style individual list items */
.offcanvas-body .nav-item {
  margin: 5px 0px 5px 6px;
  width: 100%;
  text-align: center;
}

.offcanvas-body .nav-item:first-child {
  margin-top: 0;
}

/* Optional: Add a box design to each item */
.offcanvas-body .nav-item a {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #d1d7e0;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* Hover effect */
.offcanvas-body .nav-item a:hover {
  color: white;
  background-color: #4f5d73;
  transform: scale(1.05);
}


