.container-fluid{
  max-width: 1900px;
}
/* Make header background gradient and apply shadow */
.gradient-navbar {
  /*background: #d2e8d8;*/
  /*background: linear-gradient(to right, #d2e8d8, #fff9e6);*/
  background-color: #4f5d73;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  height: 95px;
}
/* Center the list items vertically in the navbar */
.d-none.d-lg-flex .nav {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav li{
  box-sizing: border-box;
  margin-top: -0.4em;
}


/* Style individual list items */
.nav-item {
  margin: 0 15px;
}

.navbar-toggler {
  border: 5px solid white;
}
.navbar-toggler-icon {
  background-size: 50px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  /* Change the default icon color to white */
}

/* Offcanvas container */
.offcanvas {
  height:17.5em;
  width: 12em;
  background-color:#f0f2f5 ;
}

/* Optional: If you need padding adjustment */
.offcanvas-body {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}


/* Center the list items in the offcanvas */
.offcanvas-body ul {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
}

/* Style individual list items */
.offcanvas-body .nav-item {
  margin: 5px 0px 5px 6px;
  width: 100%;
  text-align: center;
}

.offcanvas-body .nav-item:first-child {
  margin-top: 0;
}

/* Optional: Add a box design to each item */
.offcanvas-body .nav-item a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #4f5d73;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.offcanvas-body .nav-item a:hover {
  transform: translateY(-5px) rotateX(20deg) scale(0.98); /* Press with slight tilt */  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); /* Reduced shadow on press */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.a-transition {
  position: relative;
  display: inline-block; /* Required for proper positioning of ::after */
  padding-bottom: 5px; /* Space for underline */
  cursor: pointer;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.a-transition::after {
  content: '';
  position: absolute;
  left: 0; /* Start from the left */
  bottom: 0;
  width: 0; /* Initially, no underline is visible */
  height: 2px; /* Thickness of the underline */
  background-color: white; /* Color of the underline */
  transition: width 0.3s ease; /* Smooth left-to-right animation */
}

.a-transition:hover::after {
  width: 100%; /* Expand the underline to full width */
}


