

<div id="home" class="container-fluid mt-5">
  <div class="row justify-content-center">
    <!-- Welcome Section -->
    <div class="col-md-8 ">
      <h1 id="typingEffect" class="mb-4 display-4 fw-bold">Welcome to My Portfolio</h1>
    </div>
  </div>

  <div class="row home1 align-items-center gx-0 justify-content-around text-center" >
    <!-- Image Section -->
    <div class=" col-md-3 mb-4 mb-md-0 img-section">
      <img src="assets/images/MyPhoto.jpg" alt="My Photo" class="rounded-circle img-fluid shadow" style="max-width: 100%; max-width: 200px;">
    </div>
    <!-- About Me Section -->
    <div class=" col-md-8 about-section">
      <p class="fs-4">
        Hi there, I'm Riddhi — a passionate Web Developer with a strong foundation in technology and mathematics. I enjoy building interactive, user-focused websites and applications while continuously exploring new tools and trends to craft meaningful digital experiences. I’m always keen to share knowledge, collaborate with others, and create smart, effective solutions.  </div>

  <!-- Call to Action Section -->
  <div class="row mt-5">
    <div class="col text-center">
      <div class="mt-4">
        <p class="fs-4">Have an idea or just want to chat?</p>
        <p style="font-size: 2em;">Drop me a line here &#9755; <a routerLink="/contact" class="Connect btn hover-effect custom-btn">Let's Connect</a></p>
      </div>
    </div>
  </div>
</div>


