




<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Welcome Section -->
    <div class="col-md-8 ">
      <h1 id="typingEffect" class="mb-4 display-4 fw-bold">Welcome to My Portfolio</h1>
    </div>
  </div>
  <div class="row align-items-center">
    <!-- Image Section -->
    <div class="col-md-4 text-center mb-4 mb-md-0">
      <img src="/images/MyPhoto.jpg" alt="My Photo" class="rounded-circle img-fluid shadow" style="max-width: 200px;">
    </div>
    <!-- About Me Section -->
    <div class="col-md-7">
      <p class="fs-5">
        Hi there! I'm Riddhi, currently committed to the world of education as a student and tutor at St. Clair College. I'm passionate about technology and love exploring its interactive aspects. While progressing toward becoming a mobile app developer, I'm eager to apply my skills in innovative ways that make a positive impact. Let's build something amazing together!
      </p>
    </div>
  </div>
  <!-- Call to Action Section -->
  <div class="row mt-5">
    <div class="col text-center">
      <div class="mt-4">
        <p style="font-size: 2em;">Drop me a line here &#9755; <a href="connect.html" class="Connect btn hover-effect custom-btn">Let's Connect</a></p>
      </div>
    </div>
  </div>
</div>
