<div id="projectsId" class="container">

  <h1 class="text-center mb-4">Projects Highlights</h1>

  <div class="row project-section mb-3 d-flex justify-content-between align-items-center">
    <h4>Personal Finance Tracking Application</h4>
    <div class="col-md-6 mb-3 mb-md-0">
      <div class="image-wrapper ">
        <img src="assets/images/CashDaddy.png" alt="Personal Finance Tracking Application" class="img-fluid">
      </div>
    </div>
    <div class="col-md-6 details">
      <p>
        CashDaddy is a personal finance tracking application built with Java and Gradle. It helps users manage
        transactions, track expenses, and set budget goals with ease. Users can add, update, and filter transactions by
        date or category, providing clear insights into their financial activities.
      </p>
      <p>
        The app features intuitive graphs that visually track savings and expenses, making financial progress easy to
        understand. With a clean, user-friendly interface, CashDaddy helps users organize their finances and make
        informed decisions.
      </p>
        <p>Check out the <a href="https://github.com/snehretskyi/CashDaddy" target="_blank">GitHub
        Repository</a> for details.
      </p>
    </div>
  </div>

  <!-- Project 2 -->
  <div class="row project-section mb-3 d-flex justify-content-between align-items-center">
    <h4>Nature Exploration Application</h4>
    <div class="col-md-6 mb-3 mb-md-0">
      <div class="image-wrapper">
        <img src="assets/images/NatureExplorationApp.png" alt="Nature Exploration Application" class="img-fluid">
      </div>
    </div>
    <div class="col-md-6 details">
      <p>
        The Nature Exploration App is created for kids to make learning about nature fun and exciting.
        This application was built in Java using Maven and includes engaging audio and animations to enhance the
        learning experience. A screenshot of the quiz section is attached in the image. This app has three main
        sections:
      </p>
      <ul>
        <li><strong>Learning:</strong> Fun modules to teach kids about nature.</li>
        <li><strong>Quiz:</strong> Simple quizzes to test and reinforce knowledge.</li>
        <li><strong>Settings:</strong> Options to customize the app for a personalized experience.</li>
      </ul>
      <p>
        Check out the app on the <a href="https://github.com/RiddhiMeetSavsani/NatureExploratonAppForKids"
                                    target="_blank">GitHub repository</a>.
      </p>
    </div>
  </div>

  <!-- Project 3 -->
  <div class="row project-section mb-3 d-flex justify-content-between align-items-center">
    <h4>Web Guys Online Auction</h4>
    <div class="col-md-6 mb-3 mb-md-0">
      <div class="image-wrapper">
        <img src="assets/images/Auction.png" alt="Web Guys Online Auction" class="img-fluid">
      </div>
    </div>
    <div class="col-md-6 details">
      <p>
        Web Guys Online Auction is a user-friendly platform designed to make online auctions simple and efficient.
        Users can easily sign up, log in, and manage their accounts. Sellers can list items for auction, set starting
        prices, and choose when the auction will end.
        Buyers can explore items, place bids, and compete with others in real-time.
      </p>
      <p>
        The platform includes an automated email notification system that informs the highest bidder when an auction
        ends.
        The winner can then securely complete the payment using PayPal.
      </p>
      <p>
        Check out the project on the <a href="https://github.com/RiddhiMeetSavsani/Auction-Project" target="_blank">GitHub
        repository</a>.
      </p>
    </div>
  </div>

</div>
