.container-fluid{
  max-width:1900px;
}


#projectsId{
  padding: 2.5em;
  padding-top: 3em;
}



.project1{
  width: 90%;
  margin: auto;
}
.slider {
  position: relative;
  height: 18.5em;
  overflow: hidden;
  margin: auto;
}

.slide-image {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
  left: 0;
}

.slide-image.active {
  opacity: 1;
  z-index: 1;
}


.image-wrapper{
  padding: 2em;
}
h4{
  margin-left: 1.2em;
}
.col-md-6.fs-6.details a{
  color: #4f5d73;
  font-weight: bold;
}

.image-wrapper {
  position: relative;
  overflow: hidden; /* Ensures the image stays within the container */
}

.image-wrapper img {
  border: 2px solid black; /* Black border around the image */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
  width: 100%;
}

.image-wrapper img:hover {
  transform: translateY(-5px); /* Slight upward movement on hover */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}

.project-section h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.details a {
  color: #007bff;
  text-decoration: none;
}

.details a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  p, ul{
    width: 90%;
    margin: auto;
    font-size: 1.5em;
  }

  .pro1{
    margin-top: 2em;
  }
}


