<div class="container">
  <h2 id="education" class="text-center mb-4">Education</h2>
  <div class="d-flex flex-wrap align-items-center justify-content-center">
    <!-- Left Column: Image -->
    <div class="col-md-4 text-center mr-md-5">
      <img src="assets/images/graduation_cap.png" alt="graduation cap image" class="img-fluid">
    </div>

    <!-- Right Column: Degree Information -->
    <div class="col-md-6 justify-content-evenly">
      <ul class="list-unstyled">
        <li class="degree-item">
          <span class="degree-name">Computer Programming</span>
          <ul class="degree-info">
            <li>Institute: ST. CLAIR COLLEGE</li>
            <li>Academic Year: January 2024 - Present</li>
            <li>First, Second, Third Semester GPA: 4.00/4.00</li>
          </ul>
        </li>
        <li class="degree-item">
          <span class="degree-name">Master of Science (Mathematics)</span>
          <ul class="degree-info">
            <li>Institute: THE M. S. UNIVERSITY</li>
            <li>Academic Year: April 2018 - April 2020</li>
            <li>GPA: 3.82/4.00</li>
          </ul>
        </li>
        <li class="degree-item">
          <span class="degree-name">Bachelor of Science (Mathematics)</span>
          <ul class="degree-info">
            <li>Institute: THE M. S. UNIVERSITY</li>
            <li>Academic Year: April 2015 - April 2018</li>
            <li>GPA: 3.70/4.00</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</div>
