.icon-name {
  visibility: hidden;
  margin-top: 8px;  /* Adjust as necessary */
}

[data-bs-toggle="tooltip"]:hover + .icon-name {
  visibility: visible;
  position: absolute;
  margin-top: 0px;
  margin-left: 15px;
  font-weight: bold;
}

/*.icon-name {*/
/*  display: none;*/
/*  margin-top: 8px;  !* Adjust as necessary *!*/
/*}*/

/*[data-bs-toggle="tooltip"]:hover + .icon-name {*/
/*  display: block;*/
/*  position: absolute;*/
/*  margin-top: 5px;*/
/*}*/

.skills-section li{
  margin-top: 1em;
}

.skills-section span{
  margin-left: 1em;
}

@media (max-width: 992px) {
  .skills-section ul {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of items if needed */
    justify-content: space-evenly; /* Distribute items with space around */
  }
  .skills-section li {
    width: 33%; /* Three items per row */
    display: flex;
    align-items: center;
    justify-content: start;
    margin: auto;/* Centers text and images inside */
    margin-bottom: 10px; /* Optional: Adds spacing between rows */
    margin-top: 1em;
    padding-left: 1.5em;
  }
}

@media (max-width: 600px) {

  .skills-section li {
    width: 50%; /* Two items per row */
  }
}

@media (max-width: 992px) { /* Medium screens and above */
  .skills-section2 li {
    display: flex;

  }
  .skills-section2 li p{
    margin-left: 10px;
  }
}
@media (max-width: 768px) { /* Medium screens and above */
  .skills-section2 li {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    margin-top: 0;
  }
  .skills-section2 li p{
    margin-left: 0px;
    margin-bottom: 0;
  }
}
