<!-- Icons Container -->
<div class="container">

  <!-- Header: I Can Work With... -->
  <h2 class="mb-4">Skills & Strengths</h2>
  <div class="container mt-5">
    <div class="row">
      <!-- Image Section - 4 columns -->
      <div class="col-lg-4 d-flex justify-content-between align-items-center">
        <img src="/images/skills.jpg" alt="Skills Image" class="img-fluid" style="width: 100%; height: auto;">
      </div>

      <!-- Soft Skills Section - 4 columns -->
      <div class="col-lg-4 d-flex justify-content-center align-items-center">
        <div class="skills-section">
          <ul style="list-style-type: none; padding-left: 0;">
            <li>
              <img src="/images/teamwork.png" alt="Teamwork" style="width: 40px; height: 40px; vertical-align: middle;">
              <span>Teamwork</span>
            </li>
            <li>
              <img src="/images/mentoring.png" alt="Mentoring"
                   style="width: 40px; height: 40px; vertical-align: middle;">
              <span>Mentoring</span>
            </li>
            <li>
              <img src="/images/visualization.png" alt="Visualization"
                   style="width: 40px; height: 40px; vertical-align: middle;">
              <span>Visualization</span>
            </li>
            <li>
              <img src="/images/punctuality.png" alt="Punctuality"
                   style="width: 40px; height: 40px; vertical-align: middle;">
              <span>Punctuality</span>
            </li>
            <li>
              <img src="/images/team.png" alt="Collaboration"
                   style="width: 40px; height: 40px; vertical-align: middle;">
              <span>Collaboration</span>
            </li>
            <li>
              <img src="/images/creativity.png" alt="Collaboration"
                   style="width: 40px; height: 40px; vertical-align: middle;">
              <span>Creativity</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Technical Skills Section - 4 columns -->
      <div class="col-lg-4 d-flex justify-content-center align-items-center">
        <div class="skills-section2">
          <ul style="list-style-type: none; padding-left: 0;">
            <li>
              <h5>Programming Languages:</h5>
              <p>Java, Swift, Kotlin, PHP, Python, C#, C++</p>
            </li>
            <li class="mt-4">
              <h5>Web Development:</h5>
              <p>HTML, CSS, JavaScript</p>
            </li>
            <li class="mt-4">
              <h5>Frameworks:</h5>
              <p>Bootstrap, Angular, Laravel</p>
            </li>
            <li class="mt-4">
              <h5>Mathematics:</h5>
              <p>Linear Algebra, Functional Analysis, Graphical Representation, Calculus</p>
            </li>
          </ul>
        </div>
      </div>

      <h3 class="mt-4">I Can Work With...</h3>
      <!-- Large Screen: Icons Row (Visible only on lg screens) -->
      <div class="row justify-content-evenly text-center d-none d-lg-flex mt-4">
        <div class="col-lg-1">
          <img src="/images/java.png" class="img-fluid mx-auto" alt="Java" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Java</div>
        </div>
        <div class="col-lg-1">
          <img src="/images/swift.png" class="img-fluid mx-auto" alt="Swift" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Swift</div>
        </div>
        <div class="col-lg-1">
          <img src="/images/kotlin.png" class="img-fluid mx-auto" alt="Kotlin" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Kotlin</div>
        </div>
        <div class="col-lg-1">
          <img src="/images/github.png" class="img-fluid mx-auto" alt="GitHub" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">GitHub</div>
        </div>
        <div class="col-lg-1">
          <img src="/images/mysql.png" class="img-fluid mx-auto" alt="MySQL" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">MySQL</div>
        </div>
        <div class="col-lg-1">
          <img src="/images/php.png" class="img-fluid mx-auto" alt="PHP" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">PHP</div>
        </div>
        <div class="col-lg-1">
          <img src="/images/python.png" class="img-fluid mx-auto" alt="Python" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Python</div>
        </div>
        <div class="col-lg-1">
          <img src="/images/html.png" class="img-fluid mx-auto" alt="HTML" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">HTML</div>
        </div>
      </div>

      <!-- Large Screen: Second Row -->
      <div class="row justify-content-evenly text-center d-none d-lg-flex">
        <div class="col-lg-1">
          <img src="/images/css.png" class="img-fluid mx-auto" alt="CSS" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">CSS</div>
        </div>
        <!--    <div class="col-lg-1">-->
        <!--      <img src="/images/javascript.png" class="img-fluid mx-auto" alt="JavaScript" style="width: 60px; height: 60px;" data-bs-toggle="tooltip" >-->
        <!--      <div class="icon-name">JavaScript</div>-->
        <!--    </div>-->
        <div class="col-lg-1">
          <img src="/images/javascript.png" class="img-fluid mx-auto" alt="JavaScript"
               style="width: 60px; height: 60px;" data-bs-toggle="tooltip" data-bs-toggle="tooltip">
          <div class="icon-name">JavaScript</div>
        </div>
        <div class="col-lg-1">
          <img src="/images/figma.png" class="img-fluid mx-auto" alt="Figma" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip" data-bs-toggle="tooltip">
          <div class="icon-name">Figma</div>
        </div>
        <div class="col-lg-1">
          <img src="/images/laravel.png" class="img-fluid mx-auto" alt="Laravel" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip" data-bs-toggle="tooltip">
          <div class="icon-name">Laravel</div>
        </div>
        <div class="col-lg-1">
          <img src="/images/csharp.png" class="img-fluid mx-auto" alt="C#" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip" data-bs-toggle="tooltip">
          <div class="icon-name">C#</div>
        </div>
        <div class="col-lg-1">
          <img src="/images/cplusplus.png" class="img-fluid mx-auto" alt="C++" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">C++</div>
        </div>
        <div class="col-lg-1">
          <img src="/images/bootstrap.png" class="img-fluid mx-auto" alt="Bootstrap" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Bootstrap</div>
        </div>
        <div class="col-lg-1">
          <img src="/images/angularjs.png" class="img-fluid mx-auto" alt="Angular" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Angular</div>
        </div>
      </div>

      <!-- Medium Screen: Icons Row (Visible only on md screens) -->
      <div class="row justify-content-evenly text-center d-none d-md-flex d-lg-none">
        <div class="col-3 col-md-2">
          <img src="/images/java.png" class="img-fluid mx-auto" alt="Java" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Java</div>
        </div>
        <div class="col-3 col-md-2">
          <img src="/images/swift.png" class="img-fluid mx-auto" alt="Swift" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Swift</div>
        </div>
        <div class="col-3 col-md-2">
          <img src="/images/kotlin.png" class="img-fluid mx-auto" alt="Kotlin" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Kotlin</div>
        </div>
        <div class="col-3 col-md-2">
          <img src="/images/github.png" class="img-fluid mx-auto" alt="GitHub" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">GitHub</div>
        </div>
        <div class="col-3 col-md-2">
          <img src="/images/mysql.png" class="img-fluid mx-auto" alt="MySQL" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">MySQL</div>
        </div>
        <div class="col-3 col-md-2">
          <img src="/images/php.png" class="img-fluid mx-auto" alt="PHP" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">PHP</div>
        </div>
      </div>

      <!-- Medium Screens: Second Row -->
      <div class="row justify-content-evenly text-center d-none d-md-flex d-lg-none">
        <div class="col-3 col-md-2">
          <img src="/images/python.png" class="img-fluid mx-auto" alt="Python" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Python</div>
        </div>
        <div class="col-3 col-md-2">
          <img src="/images/html.png" class="img-fluid mx-auto" alt="HTML" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">HTML</div>
        </div>
        <div class="col-3 col-md-2">
          <img src="/images/css.png" class="img-fluid mx-auto" alt="CSS" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">CSS</div>
        </div>
        <div class="col-3 col-md-2">
          <img src="/images/javascript.png" class="img-fluid mx-auto" alt="JavaScript"
               style="width: 60px; height: 60px;" data-bs-toggle="tooltip">
          <div class="icon-name">JavaScript</div>
        </div>
        <div class="col-3 col-md-2">
          <img src="/images/figma.png" class="img-fluid mx-auto" alt="Figma" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Figma</div>
        </div>
        <div class="col-3 col-md-2">
          <img src="/images/laravel.png" class="img-fluid mx-auto" alt="Laravel" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Laravel</div>
        </div>
      </div>

      <!-- Medium Screens: Third Row -->
      <div class="row justify-content-evenly text-center d-none d-md-flex d-lg-none d-sm-none">
        <div class="col-3 col-md-2">
          <img src="/images/csharp.png" class="img-fluid mx-auto" alt="C#" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">C#</div>
        </div>
        <div class="col-3 col-md-2">
          <img src="/images/cplusplus.png" class="img-fluid mx-auto" alt="C++" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">C++</div>
        </div>
        <div class="col-3 col-md-2">
          <img src="/images/bootstrap.png" class="img-fluid mx-auto" alt="Bootstrap" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Bootstrap</div>
        </div>
        <div class="col-3 col-md-2">
          <img src="/images/angularjs.png" class="img-fluid mx-auto" alt="Angular" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Angular</div>
        </div>
      </div>

      <!-- Small Screens: First Row -->
      <div class="row justify-content-evenly text-center  d-sm-flex d-lg-none d-md-none">
        <div class="col-3 col-sm-2">
          <img src="/images/java.png" class="img-fluid mx-auto" alt="Java" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Java</div>
        </div>
        <div class="col-3 col-sm-2">
          <img src="/images/swift.png" class="img-fluid mx-auto" alt="Swift" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Swift</div>
        </div>
        <div class="col-3 col-sm-2">
          <img src="/images/kotlin.png" class="img-fluid mx-auto" alt="Kotlin" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Kotlin</div>
        </div>
        <div class="col-3 col-sm-2">
          <img src="/images/github.png" class="img-fluid mx-auto" alt="GitHub" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">GitHub</div>
        </div>

      </div>

      <!-- Small Screens: Second Row -->
      <div class="row justify-content-evenly text-center  d-sm-flex d-lg-none d-md-none">
        <div class="col-3 col-sm-2">
          <img src="/images/python.png" class="img-fluid mx-auto" alt="Python" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Python</div>
        </div>
        <div class="col-3 col-sm-2">
          <img src="/images/html.png" class="img-fluid mx-auto" alt="HTML" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">HTML</div>
        </div>
        <div class="col-3 col-sm-2">
          <img src="/images/css.png" class="img-fluid mx-auto" alt="CSS" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">CSS</div>
        </div>
        <div class="col-3 col-sm-2">
          <img src="/images/javascript.png" class="img-fluid mx-auto" alt="JavaScript"
               style="width: 60px; height: 60px;" data-bs-toggle="tooltip">
          <div class="icon-name">JavaScript</div>
        </div>

      </div>

      <!-- Small Screens: Third Row -->
      <div class="row justify-content-evenly text-center d-sm-flex d-lg-none d-md-none">
        <div class="col-3 col-sm-2">
          <img src="/images/csharp.png" class="img-fluid mx-auto" alt="C#" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">C#</div>
        </div>
        <div class="col-3 col-sm-2">
          <img src="/images/cplusplus.png" class="img-fluid mx-auto" alt="C++" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">C++</div>
        </div>
        <div class="col-3 col-sm-2">
          <img src="/images/bootstrap.png" class="img-fluid mx-auto" alt="Bootstrap" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Bootstrap</div>
        </div>
        <div class="col-3 col-sm-2">
          <img src="/images/angularjs.png" class="img-fluid mx-auto" alt="Angular" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Angular</div>
        </div>
      </div>

      <div class="row justify-content-evenly text-center d-sm-flex d-lg-none d-md-none">
        <div class="col-3 col-sm-2">
          <img src="/images/mysql.png" class="img-fluid mx-auto" alt="MySQL" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">MySQL</div>
        </div>
        <div class="col-3 col-sm-2">
          <img src="/images/php.png" class="img-fluid mx-auto" alt="PHP" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">PHP</div>
        </div>
        <div class="col-3 col-sm-2">
          <img src="/images/figma.png" class="img-fluid mx-auto" alt="Figma" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Figma</div>
        </div>
        <div class="col-3 col-sm-2">
          <img src="/images/laravel.png" class="img-fluid mx-auto" alt="Laravel" style="width: 60px; height: 60px;"
               data-bs-toggle="tooltip">
          <div class="icon-name">Laravel</div>
        </div>
      </div>
    </div>
  </div>
</div>

