

<!-- Icons Container -->
<div class="container">

  <!-- Header: I Can Work With... -->
  <h2 class="mb-4">I Can Work With...</h2>
  <!-- Large Screen: Icons Row (Visible only on lg screens) -->
  <div class="row justify-content-evenly text-center d-none d-lg-flex">
    <div class="col-lg-1">
      <img src="/images/java.png" class="img-fluid mx-auto" alt="Java" style="width: 60px; height: 60px;">
      <h5>Java</h5>
    </div>
    <div class="col-lg-1">
      <img src="/images/swift.png" class="img-fluid mx-auto" alt="Swift" style="width: 60px; height: 60px;">
      <h5>Swift</h5>
    </div>
    <div class="col-lg-1">
      <img src="/images/kotlin.png" class="img-fluid mx-auto" alt="Kotlin" style="width: 60px; height: 60px;">
      <h5>Kotlin</h5>
    </div>
    <div class="col-lg-1">
      <img src="/images/github.png" class="img-fluid mx-auto" alt="GitHub" style="width: 60px; height: 60px;">
      <h5>GitHub</h5>
    </div>
    <div class="col-lg-1">
      <img src="/images/mysql.png" class="img-fluid mx-auto" alt="MySQL" style="width: 60px; height: 60px;">
      <h5>MySQL</h5>
    </div>
    <div class="col-lg-1">
      <img src="/images/php.png" class="img-fluid mx-auto" alt="PHP" style="width: 60px; height: 60px;">
      <h5>PHP</h5>
    </div>
    <div class="col-lg-1">
      <img src="/images/python.png" class="img-fluid mx-auto" alt="Python" style="width: 60px; height: 60px;">
      <h5>Python</h5>
    </div>
    <div class="col-lg-1">
      <img src="/images/html.png" class="img-fluid mx-auto" alt="HTML" style="width: 60px; height: 60px;">
      <h5>HTML</h5>
    </div>
  </div>

  <!-- Large Screen: Second Row -->
  <div class="row justify-content-evenly text-center d-none d-lg-flex">
    <div class="col-lg-1">
      <img src="/images/css.png" class="img-fluid mx-auto" alt="CSS" style="width: 60px; height: 60px;">
      <h5>CSS</h5>
    </div>
    <div class="col-lg-1">
      <img src="/images/javascript.png" class="img-fluid mx-auto" alt="JavaScript" style="width: 60px; height: 60px;">
      <h5>JavaScript</h5>
    </div>
    <div class="col-lg-1">
      <img src="/images/figma.png" class="img-fluid mx-auto" alt="Figma" style="width: 60px; height: 60px;">
      <h5>Figma</h5>
    </div>
    <div class="col-lg-1">
      <img src="/images/laravel.png" class="img-fluid mx-auto" alt="Laravel" style="width: 60px; height: 60px;">
      <h5>Laravel</h5>
    </div>
    <div class="col-lg-1">
      <img src="/images/csharp.png" class="img-fluid mx-auto" alt="C#" style="width: 60px; height: 60px;">
      <h5>C#</h5>
    </div>
    <div class="col-lg-1">
      <img src="/images/cplusplus.png" class="img-fluid mx-auto" alt="C++" style="width: 60px; height: 60px;">
      <h5>C++</h5>
    </div>
    <div class="col-lg-1">
      <img src="/images/bootstrap.png" class="img-fluid mx-auto" alt="Bootstrap" style="width: 60px; height: 60px;">
      <h5>Bootstrap</h5>
    </div>
    <div class="col-lg-1">
      <img src="/images/angularjs.png" class="img-fluid mx-auto" alt="Angular" style="width: 60px; height: 60px;">
      <h5>Angular</h5>
    </div>
  </div>

  <!-- Medium Screen: Icons Row (Visible only on md screens) -->
  <div class="row justify-content-evenly text-center d-none d-md-flex d-lg-none">
    <div class="col-3 col-md-2">
      <img src="/images/java.png" class="img-fluid mx-auto" alt="Java" style="width: 60px; height: 60px;">
      <h5>Java</h5>
    </div>
    <div class="col-3 col-md-2">
      <img src="/images/swift.png" class="img-fluid mx-auto" alt="Swift" style="width: 60px; height: 60px;">
      <h5>Swift</h5>
    </div>
    <div class="col-3 col-md-2">
      <img src="/images/kotlin.png" class="img-fluid mx-auto" alt="Kotlin" style="width: 60px; height: 60px;">
      <h5>Kotlin</h5>
    </div>
    <div class="col-3 col-md-2">
      <img src="/images/github.png" class="img-fluid mx-auto" alt="GitHub" style="width: 60px; height: 60px;">
      <h5>GitHub</h5>
    </div>
    <div class="col-3 col-md-2">
      <img src="/images/mysql.png" class="img-fluid mx-auto" alt="MySQL" style="width: 60px; height: 60px;">
      <h5>MySQL</h5>
    </div>
    <div class="col-3 col-md-2">
      <img src="/images/php.png" class="img-fluid mx-auto" alt="PHP" style="width: 60px; height: 60px;">
      <h5>PHP</h5>
    </div>
  </div>

  <!-- Medium Screens: Second Row -->
  <div class="row justify-content-evenly text-center d-none d-md-flex d-lg-none">
    <div class="col-3 col-md-2">
      <img src="/images/python.png" class="img-fluid mx-auto" alt="Python" style="width: 60px; height: 60px;">
      <h5>Python</h5>
    </div>
    <div class="col-3 col-md-2">
      <img src="/images/html.png" class="img-fluid mx-auto" alt="HTML" style="width: 60px; height: 60px;">
      <h5>HTML</h5>
    </div>
    <div class="col-3 col-md-2">
      <img src="/images/css.png" class="img-fluid mx-auto" alt="CSS" style="width: 60px; height: 60px;">
      <h5>CSS</h5>
    </div>
    <div class="col-3 col-md-2">
      <img src="/images/javascript.png" class="img-fluid mx-auto" alt="JavaScript" style="width: 60px; height: 60px;">
      <h5>JavaScript</h5>
    </div>
    <div class="col-3 col-md-2">
      <img src="/images/figma.png" class="img-fluid mx-auto" alt="Figma" style="width: 60px; height: 60px;">
      <h5>Figma</h5>
    </div>
    <div class="col-3 col-md-2">
      <img src="/images/laravel.png" class="img-fluid mx-auto" alt="Laravel" style="width: 60px; height: 60px;">
      <h5>Laravel</h5>
    </div>
  </div>

  <!-- Medium Screens: Third Row -->
  <div class="row justify-content-evenly text-center d-none d-md-flex d-lg-none d-sm-none">
    <div class="col-3 col-md-2">
      <img src="/images/csharp.png" class="img-fluid mx-auto" alt="C#" style="width: 60px; height: 60px;">
      <h5>C#</h5>
    </div>
    <div class="col-3 col-md-2">
      <img src="/images/cplusplus.png" class="img-fluid mx-auto" alt="C++" style="width: 60px; height: 60px;">
      <h5>C++</h5>
    </div>
    <div class="col-3 col-md-2">
      <img src="/images/bootstrap.png" class="img-fluid mx-auto" alt="Bootstrap" style="width: 60px; height: 60px;">
      <h5>Bootstrap</h5>
    </div>
    <div class="col-3 col-md-2">
      <img src="/images/angularjs.png" class="img-fluid mx-auto" alt="Angular" style="width: 60px; height: 60px;">
      <h5>Angular</h5>
    </div>
  </div>

  <!-- Small Screens: First Row -->
  <div class="row justify-content-evenly text-center  d-sm-flex d-lg-none d-md-none">
    <div class="col-3 col-sm-2">
      <img src="/images/java.png" class="img-fluid mx-auto" alt="Java" style="width: 60px; height: 60px;">
      <h5>Java</h5>
    </div>
    <div class="col-3 col-sm-2">
      <img src="/images/swift.png" class="img-fluid mx-auto" alt="Swift" style="width: 60px; height: 60px;">
      <h5>Swift</h5>
    </div>
    <div class="col-3 col-sm-2">
      <img src="/images/kotlin.png" class="img-fluid mx-auto" alt="Kotlin" style="width: 60px; height: 60px;">
      <h5>Kotlin</h5>
    </div>
    <div class="col-3 col-sm-2">
      <img src="/images/github.png" class="img-fluid mx-auto" alt="GitHub" style="width: 60px; height: 60px;">
      <h5>GitHub</h5>
    </div>

  </div>

  <!-- Small Screens: Second Row -->
  <div class="row justify-content-evenly text-center  d-sm-flex d-lg-none d-md-none">
    <div class="col-3 col-sm-2">
      <img src="/images/python.png" class="img-fluid mx-auto" alt="Python" style="width: 60px; height: 60px;">
      <h5>Python</h5>
    </div>
    <div class="col-3 col-sm-2">
      <img src="/images/html.png" class="img-fluid mx-auto" alt="HTML" style="width: 60px; height: 60px;">
      <h5>HTML</h5>
    </div>
    <div class="col-3 col-sm-2">
      <img src="/images/css.png" class="img-fluid mx-auto" alt="CSS" style="width: 60px; height: 60px;">
      <h5>CSS</h5>
    </div>
    <div class="col-3 col-sm-2">
      <img src="/images/javascript.png" class="img-fluid mx-auto" alt="JavaScript" style="width: 60px; height: 60px;">
      <h5>JavaScript</h5>
    </div>

  </div>

  <!-- Small Screens: Third Row -->
  <div class="row justify-content-evenly text-center d-sm-flex d-lg-none d-md-none">
    <div class="col-3 col-sm-2">
      <img src="/images/csharp.png" class="img-fluid mx-auto" alt="C#" style="width: 60px; height: 60px;">
      <h5>C#</h5>
    </div>
    <div class="col-3 col-sm-2">
      <img src="/images/cplusplus.png" class="img-fluid mx-auto" alt="C++" style="width: 60px; height: 60px;">
      <h5>C++</h5>
    </div>
    <div class="col-3 col-sm-2">
      <img src="/images/bootstrap.png" class="img-fluid mx-auto" alt="Bootstrap" style="width: 60px; height: 60px;">
      <h5>Bootstrap</h5>
    </div>
    <div class="col-3 col-sm-2">
      <img src="/images/angularjs.png" class="img-fluid mx-auto" alt="Angular" style="width: 60px; height: 60px;">
      <h5>Angular</h5>
    </div>
  </div>

  <div class="row justify-content-evenly text-center d-sm-flex d-lg-none d-md-none">
  <div class="col-3 col-sm-2">
    <img src="/images/mysql.png" class="img-fluid mx-auto" alt="MySQL" style="width: 60px; height: 60px;">
    <h5>MySQL</h5>
  </div>
  <div class="col-3 col-sm-2">
    <img src="/images/php.png" class="img-fluid mx-auto" alt="PHP" style="width: 60px; height: 60px;">
    <h5>PHP</h5>
  </div>
  <div class="col-3 col-sm-2">
    <img src="/images/figma.png" class="img-fluid mx-auto" alt="Figma" style="width: 60px; height: 60px;">
    <h5>Figma</h5>
  </div>
  <div class="col-3 col-sm-2">
    <img src="/images/laravel.png" class="img-fluid mx-auto" alt="Laravel" style="width: 60px; height: 60px;">
    <h5>Laravel</h5>
  </div>
  </div>
</div>

<div class="container mt-5">

  <div class="row justify-content-evenly">
    <!-- Image Section - 6 columns -->
    <div class="col-lg-5 d-flex justify-content-center align-items-center">
      <img src="/images/skills.jpg" alt="Skills Image" class="img-fluid" style="width: 100%; height: auto;">
    </div>

    <!-- Skills Section - 6 columns -->
    <div class="col-lg-6">
      <h3>Quantitative & Analytical Skills</h3>
      <ul>
        <li>Data analysis and statistical modeling</li>
        <li>Proficient in algorithms and problem-solving</li>
        <li>Skilled in data visualization</li>
        <li>Strong in math and probability</li>
      </ul>

      <h3>Soft Skills</h3>
      <div class="soft-skills">
        <ul style="list-style-type: none; padding-left: 0;">
          <li>
            <img src="/images/teamwork.png" alt="Teamwork" style="width: 20px; height: 20px; vertical-align: middle;">
            <span>Teamwork</span>
          </li>
          <li>
            <img src="/images/mentoring.png" alt="Mentoring" style="width: 20px; height: 20px; vertical-align: middle;">
            <span>Mentoring</span>
          </li>
          <li>
            <img src="/images/visualization.png" alt="Visualization" style="width: 20px; height: 20px; vertical-align: middle;">
            <span>Visualization</span>
          </li>
          <li>
            <img src="/images/punctuality.png" alt="Punctuality" style="width: 20px; height: 20px; vertical-align: middle;">
            <span>Punctuality</span>
          </li>
          <li>
            <img src="/images/team.png" alt="Collaboration" style="width: 20px; height: 20px; vertical-align: middle;">
            <span>Collaboration</span>
          </li>
        </ul>
      </div>

    </div>
  </div>

  </div>

